@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: #f5f3ef;
    --foreground: #302e2d;
    --card: #fffdf9;
    --card-foreground: #302e2d;
    --popover: #fffdf9;
    --popover-foreground: #302e2d;
    --primary: #7b6251;
    --primary-foreground: #f8f6f2;
    --secondary: #eee8e0;
    --secondary-foreground: #302e2d;
    --muted: #eee8e0;
    --muted-foreground: #716d69;
    --accent: #e2d1c0;
    --accent-foreground: #6b5141;
    --destructive: #a4483d;
    --border: #d4cdc5;
    --input: #d4cdc5;
    --ring: #7b6251;
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: #e8e3dd;
    --sidebar-foreground: #302e2d;
    --sidebar-primary: #7b6251;
    --sidebar-primary-foreground: #f8f6f2;
    --sidebar-accent: #e2d1c0;
    --sidebar-accent-foreground: #6b5141;
    --sidebar-border: #cfc7bf;
    --sidebar-ring: #7b6251;
}

.dark {
    --background: #1d1e20;
    --foreground: #e8e3da;
    --card: #292a2d;
    --card-foreground: #e8e3da;
    --popover: #303135;
    --popover-foreground: #e8e3da;
    --primary: #c8aa88;
    --primary-foreground: #1d1e20;
    --secondary: #343437;
    --secondary-foreground: #e8e3da;
    --muted: #343437;
    --muted-foreground: #aaa49c;
    --accent: #403831;
    --accent-foreground: #e8d2b9;
    --destructive: #c77365;
    --border: #4b4845;
    --input: #4b4845;
    --ring: #c8aa88;
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: #2d2d30;
    --sidebar-foreground: #e8e3da;
    --sidebar-primary: #c8aa88;
    --sidebar-primary-foreground: #1d1e20;
    --sidebar-accent: #403831;
    --sidebar-accent-foreground: #e8d2b9;
    --sidebar-border: #4b4845;
    --sidebar-ring: #c8aa88;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}
